.el-warning, .el-success {
	background: #fff;
	margin: 5px 0 15px;
	padding: 1px 12px;
	border-left: 4px solid;
}

.el-warning {
	border-left-color: #dc3232;
}

.el-success {
	border-left-color: #46b450;
}

ul.el-categories, ul.el-event-errors, td ul {
	list-style: circle inside;
	margin: 8px 0;
}

.el-event-header {
	font-weight: bold;
}

.el-event-data {
	font-style: italic;
}

.form-table td {
	vertical-align: top;
}
