label.event-option {
	font-size: 14px;
	font-weight: 600;
	padding-left: 0.4em;
	padding-top: 1.3em;
	display: inline-block;
}

.inside label.event-option {
	padding-bottom: 0.3em;
}

#startdate, #enddate, #starttime, #location {
	padding: 0.5em;
	z-index: 1000;
}

span.date-wrapper, #startdate, #enddate, #starttime {
	width: 150px;
}

#location {
	width: 400px;
}

span.date-wrapper {
	position: relative;
	display: inline-block;
}

span.date-wrapper i.dashicons {
	display: inline-block;
	position: absolute;
	padding-top: 0.3em;
	padding-right: 0.1em;
	pointer-events: none;
	right: 0px;
	z-index: 1001;
}

span.date-wrapper input {
	padding-right: 24px;
	position: relative;
}

.el-inline-checkbox {
	padding-left: 1em;
	padding-bottom: 0.1em;
}

#postbox-container-0 #primary-sortables {
	min-height: 10px;
}
