ul.event-list-view, ul.single-event-view {
	list-style: none !important;
	margin: 1.5em 0 2em 0;
	padding: 0;
}

li.event {
	clear: both;
	margin: 0 0.5em 1.5em 0.5em;
	zoom: 1; /* Fix for IE 6+7 */
}

.event-date {
	float: left;
	margin: 0 0.4em 1.5em 0;
}

.event-list .multi-date {
	background: url(../images/date-separator.png) center no-repeat;
}

.event-list .start-date, .event-list .end-date {
	text-align: center;
	width: 3.2em;
	border-radius: 5px;
	background-color: rgb(230,230,230);
}

.event-list .start-date {
	float: left;
}

.event-list .end-date {
	margin-left: 3.8em;
}

.event-weekday {
	font-size: 0.8em;
	text-transform: uppercase;
}

.event-day {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: -0.2em;
}

.event-month {
	text-transform: uppercase;
	font-size: 1.0em;
	line-height: 1em;
	padding: 0.4em 0;
}

.event-year {
	font-size: 0.8em;
	line-height: 0.8em;
	letter-spacing: 0.1em;
	padding-bottom: 0.3em;
}

.multi-day {
	margin: 0 0 0 7.5em;
}

.single-day {
	margin: 0 0 0 3.8em;
}

.event-title h3 {
	clear: none;
	margin: 0 !important;
	padding: 0;
}

.event-time {
	font-weight: bold;
	padding-right: 0.8em;
}

.event-cat {
	font-size: 0.95em;
}

.event-details {
	font-size: 0.8em;
}

div.feed {
	display: block;
}

div.feed a * {
	vertical-align: middle;
}

div.feed img {
	margin: 0 5px 0 2px;
}

div.filterbar, div.filterbar div {
	clear both;
	margin: 1em 0;
	vertical-align: middle;
}

div.filterbar select.dropdown, div.filterbar ul.hlist, div.filterbar a.link {
	margin: 0 3px;
	vertical-align: middle;
}

div.filterbar ul.hlist li {
	float: left;
	list-style: none;
	margin: 0;
}

div.filterbar ul.hlist li + li:before {
	content: "|";
	padding: 0 1px;
}
