.el-show-event-options {
	list-style: circle inside;
}

.el-headline {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	clear: both;
}

.el-atts-table {
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 98%;
}
.el-atts-table th {
	border: 1px solid #aaa;
	padding: 3px 4px !important;
	background: #eeeeee;
}
.el-atts-table td {
	border: 1px solid #aaa;
	padding: 2px 5px !important;
	vertical-align: top;
}
.el-atts-table-name, .el-atts-table-options, .el-atts-table-default {
	width: 110px;
}

.el-filterbar-table {
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 100%;
	margin: 0.2em 0 1.2em 0;
}
.el-filterbar-table th {
	border: 1px solid #aaa;
	padding: 1px 3px !important;
	background: #eeeeee;
}
.el-filterbar-table td {
	border: 1px solid #aaa;
	padding: 1px 4px !important;
	vertical-align: top;
}
.el-filterbar-item, .el-filterbar-doption {
	width: 85px;
}
.el-filterbar-options, .el-filterbar-values {
	width: 90px;
}
.el-filterbar-default {
	width: 70px;
}
.el-filterbar-desc2, .el-filterbar-for {
	width: 270px;
}

ul.el-formats {
	list-style: none;
}

.el-format-entry {
	overflow: hidden;
	clear: both;
	padding-bottom: 0.5em;
}

div.el-format-name {
	float: left;
	width: 90px;
	font-weight: bold;
}

div.el-format-desc {
	float: left;
}

div.el-format-desc em {
	font-weight: bold;
}
