@import url("datepicker/jquery-ui-datepicker.css");

#title, #location {
	width: 400px;
}

#start_date, #end_date, #time {
	width: 125px;
}

img.ui-datepicker-trigger {
	vertical-align: middle;
}

p.note {
	margin: 2px;
	font-style: italic;
}

div#postbox-container-1 {
	width: 260px !important;
}
